<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Reservas</title>
    </head>
    <!--css externo nao esta funcionando-->
    <style type="text/css">
        .mensagemAtencao {
            color: red;
            font-size: 20px;
        }

        .navbar {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    </style>

    <body>
        <nav>
            <ul class="navbar">
                <li><a href="http://localhost:3000/user/">Crud usuário</a></li>
                <li><a href="http://localhost:3000/livro/">Livros</a></li>
                <li><a href="http://localhost:3000/exemplar">Exemplar</a></li>
                <li><a href="http://localhost:3000/editora">Editoras</a></li>
                <li><a href="http://localhost:3000/reserva">Reservas</a></li>
              </ul>
        </nav>

        <div class="">
            <h2> Tabela de todas as reservas </h2>
            <table border="1">
                <thead><tr>
                    <th>Id da Reserva:</th>
                    <th>Nome do Usuario:</th>
                    <th>Id do exemplar:</th>
                    <th>Nome do exemplar:</th>
                    <th>Data de reserva:</th>
                    <th>Data limite:</th>
                    <th>Data de Entrega:</th>
                </tr></thead>
                <tbody>
                    <% table.forEach((row) => { %>
                        <tr>
                            <td><%= row.id %></td>
                            <td><%= row.email %></td>
                            <td><%= row.idexemplar %></td>
                            <td><%= row.nome %></td>
                            <td><%= row.dataemprestimo %></td>
                            <td><%= row.dataesperada %></td>
                            <td><%= row.datareal %></td>
                            <td>
                                <a href="http://localhost:3000/reserva/delete/<%= row.id %>">Deletar reserva</a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </body>
</html>
