<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>CRUD Usuário</title>
    </head>
    <style type="text/css">
        .mensagemAtencao {
            color: red;
            font-size: 20px;
        }

        .navbar {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    </style>
    <body>
        <nav>
            <ul class="navbar">
                <li><a href="http://localhost:3000/user/">Crud usuário</a></li>
                <li><a href="http://localhost:3000/livro/">Livros</a></li>
                <li><a href="http://localhost:3000/exemplar">Exemplares</a></li>
                <li><a href="about.asp">About</a></li>
              </ul>
        </nav>

        <div class="">
            <h2>Tabela de todos os exemplares</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ISBN do livro</th>
                        <th>Nome do livro</th>
                        <th>Emprestado</th>
                    </tr>
                    </thead>
                    
                <tbody>
                    <% table.forEach((row) => { %>
                        <tr>
                            <td><%= row.id %></td>
                            <td><%= row.isbn %></td>
                            <td><%= row.nome %></td>
                            <td><%= row.emprestado %></td>
                            <td>
                                <a href="http://localhost:3000/exemplar/delete/<%=row.id%>">Deletar exemplar</a>
                            </td>
                        </tr>
                    <% }); %>
                    <tr>
                        <td colspan="5">
                            <a href="http://localhost:3000/exemplar/TelaCadastroExemplar/">Cadastrar exemplar</a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>

    </body>
</html>